{% extends 'padre.html' %}

{% block title %}Contraseña cambiada{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow-lg border-0">
          <div class="card-body text-center">
            <h2 class="card-title text-success mb-4">Contraseña cambiada</h2>
            <p>Tu contraseña ha sido cambiada exitosamente.</p>
            <a href="{% url 'perfil' %}" class="btn btn-link mt-3">Volver al perfil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 