{% extends 'padre.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
  <h2>Registro de Usuario</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrarse</button>
  </form>
  {% if form.errors %}
  <ul style="color:red;">
    {% for field in form %}
      {% for error in field.errors %}
        <li><strong>{{ field.label }}:</strong> {{ error }}</li>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <li><strong>Error:</strong> {{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
